*{
    margin: 0; 
    padding: 0;  
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100%;
    min-width: 100vh;
    min-height: 100vh;
    background-image:url(background-8015439_1280.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{

    width: 50%;
    max-width: 400px ;
    background: rgba( 255, 255, 255, 0.25 );
    text-align: center;
    padding: 45px;
    border: 2px solid #ffffff;
    backdrop-filter:blur(10px);
    left: 50%;
    top: 50%;
    
    
}


